[config]
schemaVersion = "0.0.1"


[package]
namespace = "FlatArther"
name = "HadesIIAccess"
versionNumber = "0.5.0"
description = "An accessibility mod that provides audio-based navigation and targeting, as well as spoken info on various objects."
websiteUrl = "https://github.com/flat-arther/FlatArther-HadesIIAccess-Public"
containsNsfwContent = false

[package.dependencies]
Hell2Modding-Hell2Modding = "1.0.70"
LuaENVY-ENVY = "1.2.0"
SGG_Modding-Chalk = "2.1.1"
SGG_Modding-ReLoad = "1.0.2"
SGG_Modding-SJSON = "1.0.0"
SGG_Modding-ModUtil = "4.0.1"
Lirin-Hades_2_TOLk_Compatibility = "1.0.2"


[build]
icon = "./icon.png"
readme = "./README.md"
outdir = "./build"

[[build.copy]]
source = "./CHANGELOG.md"
target = "./CHANGELOG.md"

[[build.copy]]
source = "./LICENSE"
target = "./LICENSE"

[[build.copy]]
source = "./src"
target = "./plugins"


[[build.copy]]
source = "./data"
target = "./plugins_data"


[publish]
repository = "https://thunderstore.io"
communities = [ "hades-ii", ]

[publish.categories]
hades-ii = [ "mods", ]
